<?xml version="1.0" encoding="utf-8"?>
<!-- For more information, see: -->
<!-- https://learn.microsoft.com/en-us/visualstudio/test/configure-unit-tests-by-using-a-dot-runsettings-file -->
<!-- https://github.com/microsoft/codecoverage/blob/main/docs/configuration.md -->
<RunSettings>
  <RunConfiguration>
    <!-- Timeout in milliseconds. If 0, timeout will be infinity -->
    <TestSessionTimeout>60000</TestSessionTimeout>
    <!-- Disables in-assembly parallel execution. -->
    <DisableParallelization>False</DisableParallelization>
    <DisableAppDomain>False</DisableAppDomain>
    <CollectSourceInformation>True</CollectSourceInformation>
  </RunConfiguration>
</RunSettings>
