name: 'Dependency Review'
on:
  push:

  pull_request_target:
    types: [opened, reopened]

  workflow_dispatch:

permissions:
  contents: read
  pull-requests: write

  # https://www.meziantou.net/how-to-cancel-github-workflows-when-pushing-new-commits-on-a-branch.htm
concurrency:
  # pull request number or branch name if not a pull request
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  pre_job:
    name: Check for Duplicate Actions
    # continue-on-error: true # Uncomment once integration is finished
    runs-on: ubuntu-latest
    # Map a step output to a job output
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@f75f66ce1886f00957d99748a42c724f4330bdcf # v5
        with:
          cancel_others: 'true'
          skip_after_successful_duplicate: 'true'
          concurrent_skipping: same_content_newer

  dependency-review:
    name: Review Dependencies
    needs: pre_job
    if: github.actor != 'dependabot[bot]' && needs.pre_job.outputs.should_skip != 'true'
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - id: checkout
        name: 'Checkout Repository'
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - id: review-deps
        name: 'Dependency Review'
        uses: actions/dependency-review-action@3c4e3dcb1aa7874d2c16be7d79418e9b7efd6261 # v4
        with:
          base-ref: master
          head-ref: master
          fail-on-severity: high
          comment-summary-in-pr: always

      - id: setup-dotnet
        name: Set up .NET
        uses: actions/setup-dotnet@2016bd2012dba4e32de620c46fe006a3ac9f0602 # v5.0.1
        with:
          cache: true
          cache-dependency-path: '**/packages.lock.json'
          dotnet-version: '10.0.x'

      - id: check-vulnerable
        name: Check for vulnerable packages
        run: |
          set -e # This will cause the script to exit on the first error
          dotnet restore --force-evaluate
          OUTPUT=$(dotnet list package --vulnerable --include-transitive)
          echo "$OUTPUT"
          if echo "$OUTPUT" | grep -q 'Vulnerable'; then
            echo "Vulnerable packages found"
            exit 1
          else
            echo "No vulnerable packages found"
          fi
