name: "Pull Request Labeler"
on:
- pull_request_target

jobs:
  labeler:
    name: Label PRs
    permissions:
      contents: read
      issues: write
      pull-requests: write
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
    - id: label-pr
      name: Label PR
      uses: actions/labeler@634933edcd8ababfe52f92936142cc22ac488b1b # v6
      with:
        sync-labels: true
