name: Pull Request Labeler

on:
  - pull_request

concurrency:
  # github.event.pull_request.number || github.ref: pull request number or branch name if not a pull request
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  CHECK_PERMISSIONS: 0

permissions: {}

jobs:
  label-pr:
    name: Label PR
    permissions:
      contents: read
      pull-requests: write # Need to label PR
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - id: check-permissions
        name: Check action permissions
        uses: GitHubSecurityLab/actions-permissions/monitor@b25f731bf2f9eb9748c2e9757d366c3e72fa2109 # v1.0.2-beta8
        if: env.CHECK_PERMISSIONS == '1'
      - id: label-pr
        name: Label PR
        uses: actions/labeler@634933edcd8ababfe52f92936142cc22ac488b1b # v6.0.1
        with:
          sync-labels: true
