name: Run tests

env:
  # Only merge code coverage results if 1
  USE_MERGE: 0
  BUILD_CONFIG: Release

on:
  push:
  pull_request:
  workflow_dispatch:
permissions:
  contents: write
  pull-requests: write

  # https://www.meziantou.net/how-to-cancel-github-workflows-when-pushing-new-commits-on-a-branch.htm
concurrency:
  # github.event.pull_request.number || github.ref: pull request number or branch name if not a pull request
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  pre_job:
    name: Check for Duplicate Actions
    runs-on: ubuntu-latest
    # Map a step output to a job output
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@f75f66ce1886f00957d99748a42c724f4330bdcf # v5.3.1
        with:
          cancel_others: 'true'
          skip_after_successful_duplicate: 'true'
          concurrent_skipping: same_content_newer

  test:
    name: Run Tests
    needs: pre_job
    if: needs.pre_job.outputs.should_skip != 'true'
    runs-on: ubuntu-latest
    timeout-minutes: 10
    env:
      NUGET_PACKAGES: ${{ github.workspace }}/.nuget/packages
      DOTNET_NOLOGO: true
      DOTNET_CLI_TELEMETRY_OPTOUT: true
      TESTINGPLATFORM_DIAGNOSTIC: 1
      TESTINGPLATFORM_DIAGNOSTIC_VERBOSITY: Information

    steps:
      - name: Checkout Repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        # https://github.com/adamralph/minver?tab=readme-ov-file#why-is-the-default-version-sometimes-used-in-github-actions-azure-pipelines-and-travis-ci-when-a-version-tag-exists-in-the-history
        with:
          fetch-depth: 0
          filter: tree:0

      - id: filter
        name: Check for changed files
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        with:
          filters: .github/filter.yml

      - id: set-env
        name: Set environment variable
        run: |
          if [ "${{ steps.filter.outputs.code }}" == "true" ] || [ "${{ steps.filter.outputs.test }}" == "true" ]; then
            echo "ENABLED=1" >> $GITHUB_ENV
          else
            echo "ENABLED=0" >> $GITHUB_ENV
          fi

      - id: setup-dotnet
        name: Setup .NET Core
        uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
        if: env.ENABLED == '1'
        with:
          cache: true
          cache-dependency-path: "**/packages.lock.json"
          dotnet-version: 10.0.x

      - id: install-dotnet-coverage
        name: Install dotnet-coverage tool
        if: env.ENABLED == '1'
        run: dotnet tool install -g dotnet-coverage

      - id: pr-check
        name: Check if PR for current commit
        if: env.ENABLED == '1'
        uses: 8BitJonny/gh-get-current-pr@4056877062a1f3b624d5d4c2bedefa9cf51435c9 # 4.0.0
        with:
          # This will work no matter the trigger event and no matter if it is the first PR commit or not.
          sha: ${{ github.event.pull_request.head.sha }}
          # By default it returns PRs in any state.
          filterOutClosed: true
          # By default it returns PRs in any state.
          filterOutDraft: true

      - id: dotnet-restore
        name: Install dependencies
        if: env.ENABLED == '1' && steps.pr-check.outputs.pr_found == 'true'
        run: |
            dotnet restore --force-evaluate && git add .

      - id: commit
        if: env.ENABLED == '1' && steps.pr-check.outputs.pr_found == 'true'
        uses: qoomon/actions--create-commit@dfef4d264de752be6d6195a4d61a2f3d3262d406 # v1.2.3
        with:
          message: Committing changes to lock files [skip ci]
          allow-empty: false
          skip-empty: true

      - id: push-changes
        if: env.ENABLED == '1' && steps.pr-check.outputs.pr_found == 'true' && steps.commit.outputs.commit != null
        env:
          HEAD_REF: ${{ github.head_ref || github.ref_name }}
        run: git push origin HEAD:$HEAD_REF

      - id: dotnet-restore-locked
        name: Install dependencies
        if: env.ENABLED == '1' && steps.pr-check.outputs.pr_found == 'false'
        run: |
            dotnet restore --locked-mode

      - id: build
        name: Build
        if: env.ENABLED == '1'
        run: dotnet build --configuration $BUILD_CONFIG --no-restore --tl

      - id: test
        name: Test
        if: env.ENABLED == '1'
        run: dotnet test  --property:runsetting=./cicd.runsettings --configuration $BUILD_CONFIG --no-build --verbosity quiet --crashdump --hangdump --hangdump-timeout 10m --coverage --coverage-output-format cobertura --coverage-output coverage.cobertura.xml

      - id: upload-logs
        name: Upload Test Logs
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: env.ENABLED == '1' && failure() && steps.test.outcome == 'failure'
        with:
          name: test-logs
          path: |
            **/TestResults/**/*.log
          if-no-files-found: warn

      - id: generate-report
        name: Generate codecoverage report
        if: env.ENABLED == '1'
        uses: danielpalme/ReportGenerator-GitHub-Action@ee0ae774f6d3afedcbd1683c1ab21b83670bdf8e # 5.5.1
        with:
          reports: '**/TestResults/**/coverage.cobertura.xml'
          # yamllint disable-line
          targetdir: "${{ github.workspace }}/coveragereport"
          reporttypes: Cobertura;MarkdownSummaryGithub;MarkdownAssembliesSummary
          classfilters: -System.*;-Microsoft.*;-Newtonsoft.*;-System.Text.RegularExpressions.*;-xunit.*;-NUnit.*;-TUnit.*

      - id: upload-codecov
        name: Upload code coverage results to codecov
        if: env.ENABLED == '1'
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          flags: unittests
          fail_ci_if_error: true
          files: ${{ github.workspace }}/coveragereport/Cobertura.xml
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true

      # https://github.com/danielpalme/ReportGenerator/issues/431
      - id: publish-pr-cov-summary
        name: Publish PR coverage summary
        uses: marocchino/sticky-pull-request-comment@773744901bac0e8cbb5a0dc842800d45e9b2b405 # v2.9.4
        if: steps.pr-check.outputs.pr_found == 'true'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          hide: true # Hide previous comment
          hide_classify: OUTDATED
          skip_unchanged: true
          number: ${{ steps.pr-check.outputs.number }}
          path: coveragereport/Summary.md
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          header: Code coverage

      - id: publish-cov
        name: Publish coverage in build summary
        if: env.ENABLED == '1'
        run: cat $GITHUB_WORKSPACE/coveragereport/SummaryGithub.md >> $GITHUB_STEP_SUMMARY
        shell: bash

      - id: merge-cov
        name: Merge code coverage results
        if: env.USE_MERGE == 1 && env.ENABLED == '1'
        run: dotnet-coverage merge **/*/*.cobertura.xml -f cobertura -o ./cobertura.xml
        shell: bash

        # In v4, Artifacts are immutable (unless deleted). So you must change
        # each of the uploaded Artifacts to have a different name and filter the
        # downloads by name to achieve the same effect
      - id: archive-results
        name: Archive results
        # https://github.com/actions/upload-artifact/blob/main/docs/MIGRATION.md
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: env.ENABLED == '1'
        with:
          name: code-coverage-report-ubuntu
          path: |
            **/TestResults/**/*.cobertura.xml
            coveragereport/*.md
