name: Update PR

on:
  push:
    branches: [master]

concurrency:
  # github.event.pull_request.number || github.ref: pull request number or branch name if not a pull request
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  CHECK_PERMISSIONS: 0

permissions: {}

jobs:
  update-pr:
    name: Update PR branch automatically
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: write # Need to update PR
      pull-requests: write # Need to update PR
    steps:
      - id: check-permissions
        name: Check action permissions
        uses: GitHubSecurityLab/actions-permissions/monitor@b25f731bf2f9eb9748c2e9757d366c3e72fa2109 # v1.0.2-beta8
        if: env.CHECK_PERMISSIONS == '1'
      - id: update-pr
        name: Update PR
        uses: adRise/update-pr-branch@a51c014567e5be98445551cce9b8f5ad42dd8acf # v0.10.2
        with:
          token: ${{ secrets.ACTION_USER_TOKEN }}
          base: master
          required_approval_count: 0
          require_passed_checks: true
          require_auto_merge_enabled: false
          allow_ongoing_checks: true
